<ion-view view-title="Ajustes">
  <ion-content>
    <ion-list>
      <ion-item class="item-toggle">
        Buscar novos amigos
        <label class="toggle">
          <input type="checkbox" ng-model="settings.checkFriends">
          <div class="track"><div class="handle"></div></div>
        </label>
      </ion-item>
      <ion-item class='item-divider'>
        Penduras
      </ion-item>
      <ion-item>
        <form onsubmit='create()' novalidate='novalidate'>
          <ion-list class='list-inset'>
            <ion-item class="row row-middle item item-input item-input-inset item-radio" ng-repeat="pending in pendings">
              <h2 class='col col-50 input-label'>{{pending.name}}</h2>
              <label class="col col-10 toggle toggle-balanced">
                <input ng-model='pending.join' type='checkbox' ng-checked='pending.join'/>
                <div class="track"><div class="handle"></div></div>
              </label>
              <div class="col item-input-wrapper">
                  <input ng-model='pending.nick' type="text" ng-readonly='pending.join' placeholder='{{pending.tip}}' />
              </div>
              <label class="col col-10">
                <input ng-model='active.uuid' ng-value='pending.uuid' type="radio" ng-readonly='pending.join' name="active" ng-checked='(active.uuid === pending.uuid)' ng-change='activate()' />
                <i class="radio-icon ion-checkmark"></i>
              </label>
            </ion-item>
          </ion-list>
        </form>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
