<ion-view view-title='Balanço para {{active.nick}} na {{active.name}}'>
  <ion-content class='padding'>
    <div class='list card'>
      <div class='item item-divider'>Balanço</div>
      <div class='item item-body'>
        <div>{{balance.leftover / 100  | currency}}</div>
      </div>
    </div>
    <div class='list card'>
      <div class='item item-divider'>Parceiros</div>
      <div class='item item-body padding-horizontal'>
        <ion-list>
          <ion-item class='item-remove-animate item-icon-right padding-none' ng-repeat='participant in balance.participants' type='item-text-wrap'>
            <div class='row row-center'>
              <div class='col col-50 col-left button button-clear button-dark'>{{participant.nick}}</div>
              <div class='col col-33 col-right button button-large button-clear button-energized'>{{participant.amount / 100  | currency}}</div>
              <div class='col col-right'><i class='icon ion-heart-broken icon-accessory'></i></div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
